# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Uploaded Files
# ----------------------------
uploaded_files/

# ----------------------------
# ChromaDB
# ----------------------------
chroma_db/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Build Files
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/

# ----------------------------
# MyPy
# ----------------------------
.mypy_cache/

# ----------------------------
# Ruff
# ----------------------------
.ruff_cache/