fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-chroma
langchain-huggingface
langsmith

chromadb

transformers
torch

pypdf
huggingface-hub