# ==========================================
# FastAPI
# ==========================================
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# ==========================================
# LangChain
# ==========================================
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-google-genai
langchain-chroma
langchain-huggingface
langsmith

# ==========================================
# Vector Database
# ==========================================
chromadb

# Uncomment only if you are using Pinecone
# pinecone

# ==========================================
# Embedding Models
# ==========================================
sentence-transformers==5.0.0
transformers
torch
huggingface-hub

# ==========================================
# PDF Parsing
# ==========================================
pypdf

# ==========================================
# Utilities
# ==========================================
pydantic
requests
aiofiles
loguru
tqdm
